<section class="jumbotron jumbotron-margin">
  <div>
    <h1>Hi there</h1>
    <h1 class="mt-5">
    I'm Blaise.
    <br>
    A full-stack developer based in
    <br>
    Edmonton, Alberta.
    </h1>
  </div>
</section>

<section class="jumbotron-margin">
  <% if !@posts.empty? %>
    <%= render "shared/posts", posts: @posts %>    
  <% end %>
</section>
